<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal frm-login-ajax1 frm-user-ajax", id: "frm-login-ajax1", role: "form"}) do |f| %>
<div class="hide alert alert-danger"></div>
<div class="form-group">
  <%= f.label :email, class: "col-sm-3 col-md-3 control-label" %>
  <div class="col-sm-8 col-md-8">
    <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Địa chỉ email ..." %>
    <span class="help-block"></span>
  </div>
</div>
<div class="form-group">
  <%= f.label :password, class: "col-sm-3 col-md-3 control-label" %>
  <div class="col-sm-8 col-md-8">
    <%= f.password_field :password, class: "form-control", placeholder: "Mật khẩu ...", autocomplete: "off" %>
    <span class="help-block"></span>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 col-md-3 control-label"></label>
  <div class="col-sm-8 col-md-8">
    <% if devise_mapping.rememberable? -%>
    <div class="pull-left help-block">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end -%>
    <div class="pull-right"><%= f.submit "Log in", class: "btn btn-auth-submit" %></div>
  </div>
</div>
<% end %>
<div class="clearfix"></div>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<div class="text-center text-center-auth">
  <p><%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn btn-link" %></p>
</div>
<% end -%>
<hr>
<%= render "devise/shared/social_login" %>
<hr>

