<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12 room-main-content">
        <div class="pt-breadcrumb">
          <ol class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
          </ol>
        </div><div class="col-md-12 no-padding-vertical login-page-label">
        <div class="room-list-category">
          <div class="pull-left">
            <a href="javascript:void(0);"><h3><span>Đăng nhập</span> tài khoản <i class="fa fa-angle-right"></i></h3></a>
          </div>
          <div class="clearfix"></div>
          <hr>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 login-page">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email, class: "col-sm-3 col-md-3 no-padding-vertical control-label" %>
            <div class="col-sm-8 col-md-8">
              <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Địa chỉ email ..." %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "col-sm-3 col-md-3 no-padding-vertical control-label" %>
            <div class="col-sm-8 col-md-8">
              <%= f.password_field :password, class: "form-control", placeholder: "Mật khẩu ...", autocomplete: "off" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 col-md-3 control-label"></label>
            <div class="col-sm-8 col-md-8">
            <% if devise_mapping.rememberable? -%>
              <div class="pull-left"><%= f.check_box :remember_me %><%= f.label :remember_me %></div>
            <% end -%>
              <div class="pull-right"><%= f.submit "Log in", class: "btn btn-auth-submit" %></div>
            </div>
          </div>
        <% end %>
        <div class="clearfix"></div>
        <div class="btn-social-group">
          <a href="http://phongtot.vn/social/facebook" class="btn btn-md btn-social btn-facebook"> <i class="fa fa-facebook"></i> Đăng nhập bằng Facebook </a>
          <a href="http://phongtot.vn/social/google" class="btn btn-md btn-social btn-google-plus"> <i class="fa fa-google-plus"></i> Đăng nhập bằng Google </a>
        </div>
        <div class="forgot-and-reg">
          <p><a class="forgot" href="http://phongtot.vn/dang-ky">Tạo tài khoản mới</a> nếu bạn chưa có tài khoản ?</p>
          <p><a class="reg" href="http://phongtot.vn/password/email">Khôi phục mật khẩu</a> để tìm lại mật khẩu</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>