<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :post_description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :post_image %>
  </div>

  <div class="field">
    <%= form.label :acreage %>
    <%= form.text_field :acreage, id: :post_acreage %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :post_price %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :post_address %>
  </div>

  <div class="field">
    <%= form.label :phone_contact %>
    <%= form.text_field :phone_contact, id: :post_phone_contact %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :post_status %>
  </div>

  <div class="field">
    <%= form.label :post_category_id %>
    <%= form.text_field :post_category_id, id: :post_post_category_id %>
  </div>

  <div class="field">
    <%= form.label :toilet_type_id %>
    <%= form.text_field :toilet_type_id, id: :post_toilet_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
