<div class="col-sm-6 col-md-4 thumbnail-item">
  <div class="thumbnail">
    <a href="#" title="Cho thuê chung cư PCC1 Ba la 55m Giá 5 triệu đầy đủ nội thất">
      <%= link_to image_tag(post.image.url, class: "cover img-reponsive", style: "width:400px; height: 225px;"), post if post.image?%>
    </a>
    <div class="room-item-price">
      <a href=""><%= number_to_currency post.price, locale: :vi, unit: "Đ/tháng",
        format: "%n %u" %></a>
    </div>
    <div class="caption">
      <div class="title">
        <h2><a href="#"><%= post.title %></a></h2>
        <a href="#" style="color: #33cc66;"><span class="fa fa-map-marker"></span>
          <%= post.address %></a>
      </div>
      <div class="extra">
        <div class="pull-left">
          <a href="#"><span class="fa fa-user"></span><%= post.user.name %></a>
        </div>
        <div class="pull-right">
          <a href=""><span class="fa fa-info"></span><%= post.acreage %> m<sup>2</sup></a>
        </div>
        <div class="type">
          <a href=""><span class="fa fa-home"></span><%= post.post_category.name %></a>
        </div>
      </div>
    </div>
  </div>
</div>