<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>Acreage:</strong>
  <%= @post.acreage %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @post.address %>
</p>

<p>
  <strong>Phone contact:</strong>
  <%= @post.phone_contact %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<p>
  <strong>Post category:</strong>
  <%= @post.post_category %>
</p>

<p>
  <strong>Toilet type:</strong>
  <%= @post.toilet_type %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
