<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <link rel="stylesheet" href="http://phongtot.vn/themes/client/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="http://phongtot.vn/themes/client/css/fonts.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- <link rel="stylesheet" href="http://phongtot.vn/themes/client/css/component.css"> -->
    <!-- <link rel="stylesheet" href="http://phongtot.vn/themes/client/css/app.css"> -->
    <!-- <link rel="stylesheet" href="http://phongtot.vn/themes/client/css/jquery-gmaps-latlon-picker.css"> -->
    <script src="http://phongtot.vn/themes/client/js/jquery-1.11.3.min.js"></script>
    <script src="http://phongtot.vn/themes/client/js/bootstrap.min.js"></script>
    <!-- <script src="http://phongtot.vn/themes/client/js/multiple-select.js"></script> -->
    <!-- <script src="http://phongtot.vn/themes/client/js/owl.carousel.min.js"></script> -->
    <!-- <script src="http://phongtot.vn/themes/client/js/ion.rangeSlider.js"></script> -->
    <!-- <script src="http://phongtot.vn/themes/client/js/jquery.maskMoney.js"></script> -->

    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/top_navigation" %>
    <div>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
      <%= render "layouts/footer" %>
    </div>
  </body>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
</html>
